* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'FangSong', 'FangSong_GB2312', 'STFangsong', 'SimSun', 'Microsoft YaHei', serif;
  background: transparent;
  color: #efe7d8;
  padding: 10px;
}
